@tailwind base;
@tailwind components;
@tailwind utilities; 


 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

nav {
  background: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

nav button {
  background: #444;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

nav button:hover {
  background: #555;
} 
